:root {
    --color-layout-bg: #10375C;
    --color-surface-primary: #2E80CE;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* ========== Header ========== */
.header {
    background-color: var(--color-layout-bg);
    min-height: 100vh;
}

.logo {
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle {
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: var(--color-surface-primary);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    content: "";
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background-color: #fff;
}

.logo__text {
    color: #fff;
    margin-left: 0.6em;
}

.logo__brand {
    display: block;
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
    line-height: .78;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.17;
}