:root {
    --color-layout-bg: #10375C;
    --color-surface-primary: #2E80CE;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    font-family: inherit;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 20px 16px;
    background-color: var(--color-surface-primary);
    border-radius: 99px;
    min-width: 205px;
    border: 1px solid var(--color-surface-primary);
}

.btn:hover {
    cursor: pointer;
    opacity: .9;
}

.desc {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

/* ========== Header ========== */
.header {
    background-color: var(--color-layout-bg);
    min-height: 100vh;
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle {
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: var(--color-surface-primary);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    content: "";
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background-color: #fff;
}

.logo__text {
    color: #fff;
    margin-left: 0.6em;
}

.logo__brand {
    display: block;
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
    line-height: .78;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.17;
}

/* Navbar */
.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    display: flex;
    align-items: center;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 21px;
}

.navbar__link--active,
.navbar__link:hover {
    text-shadow: 1px 0 0 #fff;
}

.navbar__link--active::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 11px;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    padding: 11px 16px;
    min-width: 104px;
    font-size: 1.6rem;
    margin-left: 7px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero-content {
    width: 44.18%;
    flex-shrink: 0;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    color: #C9D2DA;
    margin-top: 22px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-left: 38px;
}

.hero__media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    margin-right: -6px;
    z-index: 1;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}