:root {
    --color-layout-bg: #10375C;
    --color-surface-primary: #2E80CE;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-family: inherit;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 20px 16px;
    background-color: var(--color-surface-primary);
    border-radius: 99px;
    min-width: 205px;
    border: 1px solid var(--color-surface-primary);
}

.btn:hover {
    cursor: pointer;
    opacity: .9;
}

.section-heading {
    color: var(--color-layout-bg);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-heading-lv2 {
    color: var(--color-layout-bg);
    font-size: 1.8rem;
    font-weight: 600;
}

.section-desc {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    width: 468px;
    margin-top: 18px;
}

.section-desc-lv2 {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* ========== Header ========== */
.header {
    background-color: var(--color-layout-bg);
    min-height: 100vh;
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle {
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: var(--color-surface-primary);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    content: "";
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background-color: #fff;
}

.logo__text {
    color: #fff;
    margin-left: 0.6em;
}

.logo__brand {
    display: block;
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
    line-height: .78;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.17;
}

/* Navbar */
.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    display: flex;
    align-items: center;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 21px;
}

.navbar__link--active,
.navbar__link:hover {
    text-shadow: 1px 0 0 #fff;
}

.navbar__link--active::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 11px;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    padding: 11px 16px;
    min-width: 104px;
    font-size: 1.6rem;
    margin-left: 7px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero-content {
    width: 44.18%;
    flex-shrink: 0;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    color: #C9D2DA;
    margin-top: 22px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-left: 38px;
}

.hero__media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    margin-right: -6px;
    z-index: 1;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* ========== Service ========== */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    margin-left: auto;
    margin-right: auto;
}

.service-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 21px;
    transition: .25s;
}

.service-item:hover {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background-color: #2E80CE;
    color: #fff;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #EFF6FD;
    transition: .25s;
}

.service-item__body {
    margin-left: 19px;
}

.service-item__desc {
    margin-top: 8px;
}

/* ========== Work ========== */
.work {
    background: #F6FBFF;
    padding: 100px 0;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-item {
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    padding: 43px;
    transition: .25s;
}

.work-item:hover {
    border-color: #2E80CE;
    transform: translateY(-16px);
}

.work-item:hover .work-item__more {
    font-weight: 400;
}

.work-item__heading {
    font-size: 2.6rem;
    line-height: 1.38;
    margin-top: 18px;
}

.work-item__desc {
    margin-top: 28px;
}

.work-item__more {
    display: inline-block;
    color: #2E80CE;
    margin-top: 18px;
    transition: .25s;
}

/* ========== Feature ========== */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__media {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    height: 370px;
    width: 512px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:first-child {
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
}

.feature__content {
    width: 40.17%;
}

.feature__cta {
    margin-top: 38px;
}