:root {
    --color-layout-bg: #10375C;
    --color-surface-primary: #2E80CE;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.logo {
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle {
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: var(--color-surface-primary);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    content: "";
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background-color: #fff;
}

.logo__text {
    color: #fff;
    margin-left: 0.6em;
}

.logo__brand {
    font-family: "Sora", sans-serif;
    display: block;
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
    line-height: .78;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.17;
}

.btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 20px 16px;
    background-color: var(--color-surface-primary);
    border-radius: 99px;
    min-width: 205px;
    border: 1px solid var(--color-surface-primary);
}

.btn:hover {
    cursor: pointer;
    opacity: .9;
}

.section-heading {
    color: var(--color-layout-bg);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-heading-lv2 {
    color: var(--color-layout-bg);
    font-size: 1.8rem;
    font-weight: 600;
}

.section-desc {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    max-width: 468px;
    margin-top: 18px;
}

.section-desc-lv2 {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.control {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575F66;
    outline: none;
    color: #575F66;
    background-color: #fff;
    transition: .25s;
}

.control__btn:hover {
    background-color: #2E80CE;
    color: #fff;
    border-color: #2E80CE;
    cursor: pointer;
}

.control__icon-next {
    transform: rotate(180deg);
}

/* ========== Header ========== */
.header {
    background-color: var(--color-layout-bg);
    min-height: 100vh;
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar */
.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    display: flex;
    align-items: center;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 21px;
}

.navbar__link--active,
.navbar__link:hover {
    text-shadow: 1px 0 0 #fff;
}

.navbar__link--active::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 11px;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    padding: 11px 16px;
    min-width: 104px;
    font-size: 1.6rem;
    margin-left: 7px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero-content {
    width: 44.18%;
    flex-shrink: 0;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    color: #C9D2DA;
    margin-top: 22px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-left: 38px;
}

.hero__media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    margin-right: -6px;
    z-index: 1;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* ========== Service ========== */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    margin-left: auto;
    margin-right: auto;
}

.service-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 21px;
    transition: .25s;
}

.service-item:hover {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background-color: #2E80CE;
    color: #fff;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #EFF6FD;
    transition: .25s;
}

.service-item__body {
    margin-left: 19px;
}

.service-item__desc {
    margin-top: 8px;
}

/* ========== Work ========== */
.work {
    background: #F6FBFF;
    padding: 100px 0;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-item {
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    padding: 43px;
    transition: .25s;
}

.work-item:hover {
    border-color: #2E80CE;
    transform: translateY(-16px);
}

.work-item:hover .work-item__more {
    font-weight: 400;
}

.work-item__heading {
    font-size: 2.6rem;
    line-height: 1.38;
    margin-top: 18px;
}

.work-item__desc {
    margin-top: 28px;
}

.work-item__more {
    display: inline-block;
    color: #2E80CE;
    margin-top: 18px;
    transition: .25s;
}

/* ========== Feature ========== */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__media {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    height: 370px;
    width: 512px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:first-child {
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
}

.feature__content {
    width: 40.17%;
}

.feature__cta {
    margin-top: 38px;
}

/* ========== Member ========== */
.member {
    padding: 85px 0;
}

.member__header {
    text-align: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 70px;
}

.member-item {
    text-align: center;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__img-bg {
    background-color: #EAF6FF;
    padding-top: 25px;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: .25s;
}

.member-item__name {
    color: var(--color-layout-bg);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75;
    margin-top: 12px;
}

.member-item__desc {
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}

.member__control {
    justify-content: center;
    margin-top: 38px;
}

/* ========== Install ========== */
.install {
    padding: 85px 0;
    margin-top: 95px;
}

.install__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E80CE;
    padding: 0 70px;
}

.install__img {
    display: block;
    width: 284px;
    height: 522px;
    object-fit: cover;
    margin-top: -95px;
}

.install__content {
    width: 586px;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    max-width: 489px;
}

.install__desc {
    width: 587px;
}

.install__row {
    display: flex;
    column-gap: 18px;
    margin-top: 38px;
}

/* ========== News ========== */
.news {
    padding: 85px 0;
}

.news__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__heading {
    max-width: 470px;
}

.news__more {
    display: inline-block;
    color: var(--color-layout-bg);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56;
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-top: 28px;
}

.news__control {
    margin-top: 28px;
}

.news__list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}

.news-item {
    flex: 1;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
    transition: .25s;
}

.news-item:hover {
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-16px);
}

.news-item:hover .news-item__body {
    border-color: #fff;
}

.news-item__img {
    display: block;
    width: 100%;
    height: 172px;
    object-fit: cover;
}

.news-item__body {
    padding: 18px 22px 21px;
    border: 1px solid #E8EBEE;
    border-top: none;
    border-radius: 0 0 12px 12px;
}

.news-item__heading {
    color: var(--color-layout-bg);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}

.news-item__desc {
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
    margin-top: 10px;
}

.news-item__more {
    display: inline-block;
    color: var(--color-layout-bg);
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 12px;
}

/* ========== Appointment ========== */
.appointment {
    padding: 85px 0;
}

.appointment__inner {
    text-align: center;
    background-color: #F6FBFF;
    padding: 100px 0;
}

.appointment__heading {
    position: relative;
    padding-bottom: 20px;
}

.appointment__heading::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    content: "";
    width: 136px;
    height: 2px;
    background: #2E80CE;
}

.appointment__desc {
    font-size: 1.6rem;
    max-width: 617px;
    line-height: 1.75;
    text-align: center;
    margin: 18px auto 38px;
}

/* ========== Footer ========== */
.footer {
    font-family: "Open Sans", sans-serif;
    margin-top: 85px;
    background-color: var(--color-layout-bg);
    padding: 100px 0 42px;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr .4fr .4fr 1fr;
    border-bottom: 1px solid #406181;
}

.footer__desc {
    max-width: 336px;
    color: #A9B3BB;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 20px;
}

.footer__heading {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    margin-bottom: 20px;
}

.footer__list {
    margin-bottom: 28px;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__link {
    color: #A9B3BB;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    white-space: nowrap;
}

.footer__link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer__social {
    display: flex;
    column-gap: 10px;
}

.footer__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--color-surface-primary);
    background-color: #fff;
    transition: .25s;
    margin-bottom: 28px;
}

.footer__icon:hover {
    background-color: var(--color-surface-primary);
    color: #fff;
}

.footer-form {
    display: flex;
    column-gap: 12px;
    margin-top: 10px;
}

.footer-form__input {
    width: 212px;
    height: 46px;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: 1px solid #406181;
    border-radius: 4px;
    padding: 0 10px;
}

.footer-form__input::placeholder {
    color: #9CA8B1;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer-form__submit {
    min-width: 108px;
    border-radius: 4px;
    padding: 9px 12px;
    font-size: 1.4rem;
    font-weight: 600;
}

.footer__copyright {
    color: #AAB3BA;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    margin-top: 28px;
}